<!--Contenedor de las imagenes de los productos-->
<div class="producto">
  <!--Columna de la imagen principal del producto-->
  <div class="mainImg">
    <img src="" alt="imagen principal del producto">
  </div>
  <!--Columna de las imagenes secundarias-->
  <div class="moreImg">
    <img src="" alt="imagen secundaria del producto">
    <img src="" alt="imagen secundaria del producto">
    <img src="" alt="imagen secundaria del producto">
  </div>
</div>

<!--Contenedor de la informacion del producto-->
<div class="propiedades">
  <div class="precio">

  </div>
  <div class="nombre">

  </div>
  <div class="descripcion">

  </div>
</div>

<div class="low">
  <!--Contenedor de los datos de entrega-->
  <div class="entrega">
    <div class="envio">
      <p class="data">Gastos de envio:</p>
      <p class="data">Devolucion: </p>
    </div>

    <!--Boton de agregar al carrito-->
    <button>Añadir al carrito</button>
  </div>
  <div class="valoracion">
    <div class="promedio">
      <h3 class="total">4.6</h3>
      <!--Iconos de estrellas(Unicode)-->
      &#9733;
      &#9733;
      &#9733;
      &#9733;
    </div>
  </div>
</div>

