@if(selectProd) {
<!-- Contenedor de las imágenes del producto -->
<div class="producto">
  <!-- Columna de la imagen principal del producto -->
  <div class="mainImg">
    <img [src]="selectProd.imagen" alt="imagen principal del producto">
  </div>
  <!-- Columna de las imágenes secundarias -->
  <div class="moreImg">
    <img [src]="selectProd.imagen" alt="imagen secundaria del producto">
    <img [src]="selectProd.imagen" alt="imagen secundaria del producto">
    <img [src]="selectProd.imagen" alt="imagen secundaria del producto">
  </div>
</div>

<!-- Contenedor de la información del producto -->
<div class="propiedades">
  <div class="precio">
    <p>{{selectProd.precio}}€</p>
  </div>
  <div class="nombre">
    <h2>{{selectProd.nombre}}</h2>
  </div>
  <div class="descripcion">
    <p>{{selectProd.desc}}</p>
  </div>
</div>

<div class="low">
  <div class="entrega">
    <div class="envio">
      <p class="data">Gastos de envío:</p>
      <p class="data">Devolución: </p>
    </div>
    <button>Añadir al carrito</button>
  </div>
  <div class="valoracion">
    <div class="promedio">
      <h3 class="total">4.6</h3>
      &#9733; &#9733; &#9733; &#9733;
    </div>
  </div>
</div>
} @else {
  <h1>¡EROR! AL BUSCAR EL PRODUCTO</h1>
}
