<div>
  <h4>Contraseña</h4>
  <p class="subtitle">Aquí puedes cambiar la contraseña de tu cuenta</p><br>

  <div class="datos">
    <p class="data">Contraseña actual</p>
    <input type="text" placeholder="🔒">
  </div><br>
  <div class="datos">
  <p class="data">Nueva contraseña</p>
  <input type="text" placeholder="🔒">
  </div><br>
  <div class="datos">
    <p class="data">Confirmar nueva contraseña</p>
    <input type="text"placeholder="🔒">
  </div>

  <div class="bottom">
    <button class="update">Cancelar</button>
    <button class="update">Actualizar</button>
  </div>
</div>
