<div class="categoryPage" id="body">
  <div class="menu" id="principal">
    <div class="iconMenu">
      <button class="menu-btn" (click)="openMenu($event)" id="btn_open" aria-label="Ver categorias">Ver categorias</button>
    </div>
    <div class="menuSide" id="side_menu">
      <nav>
        <ul class="namePage">
          @for (item of categorias; track $index) {
            <li class="elemento">
              <img src="assets/tag-solid.svg" alt="icono de categorias" class="icono">
              <h3>{{item.nombre}}</h3>
            </li>
          }
        </ul>
      </nav>
    </div>
  </div>
  <div class="productos">
    <app-prod-list></app-prod-list>
  </div>
</div>
