<h2>Productos</h2>
<div class="filtros">
    <input type="text" placeholder="Buscar por categoría" [(ngModel)]="filtroCategoria">
    <input type="number" placeholder="Precio mínimo" [(ngModel)]="filtroPrecioMin">
    <input type="number" placeholder="Precio máximo" [(ngModel)]="filtroPrecioMax">
    <button (click)="limpiarFiltros()" class="clear">Limpiar filtros</button>
</div>
<div class="listaProductos">
  <div *ngFor="let item of productosFiltrados; let i = index" class="card">
      <img [src]="item.imagen" alt="Imagen del producto">
      <div class="container">
          <h3 [routerLink]="item.nombre">{{item.nombre}}</h3>
        <div class="lowContnt">
          <div class="desc">
            <p>{{item.desc}}</p>
          </div>
          <div class="precio">
            <p class="price"><b>{{item.precio}}€</b></p>
          </div>
        </div>
      </div>
    </div>
</div>
