<div class="container">
  <h3 class="tittle">INCIO DE SESION</h3>

  <form [formGroup]="login">
    <input type="text" placeholder="Correo Electronico" id="correo" formControlName="correo">
    @if (correo.hasError('required') && correo.touched) {
      <p>El CORREO es obligatorio</p>
    } @else if (correo.hasError('email')) {
      <p>El CORREO no es valido</p>
    }
    <br>
    <br>
    <input type="password" placeholder="Contraseña" id="contrasena" formControlName="contrasena">
    @if (contrasena.hasError('required') && contrasena.touched) {
      <p>La CONTRASEÑA es obligatorio</p>
    }
    <br>
    <br>
    <button class="login">Iniciar Sesion</button>
  </form>

  <div class="linea"></div>

  <h5>¿ERES NUEVO?</h5>
  <br>
  <button class="register" routerLink="/register">Crea Una Cuenta</button>
</div>
