.mainBtn{
    width: 50%;
    height: 5vh;
    margin: 5px;
    background-color: #F7EDB8;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.menuImg{
    width: 99%;
    height: 70vh;
    margin: 2px;
}

.categorias{
    display: flex;
}

.catBtn {
    background-color: #F7EDB8;
    text-align: center;
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    width: 33%;
    height: 5vh;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.catImg {
    width: 33px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    margin-right: 25vh; /* Espacio entre la imagen y el texto */
    background-color: transparent;
    padding: 5px;
}

.enlaces{
    display: flex;
}

.producto{
    width: 150px;
}

.listaProd{
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.listaProd2{
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
}

.prod{
    margin: 35px;
    display:flow-root;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgb(250, 227, 200);
    width: 50vh;
}

.precio{
    vertical-align: baseline;
}
