    <div [ngClass]="{'enlaces' : 'enlace'}">
        <!--Botones de enlace a las ventanas Categoria y Ventas-->
        <button [ngClass]="{'mainBtn' : 'mainBtn1'}"><a routerLink="/categorias-prod">Categorias</a></button>
        <button [ngClass]="{'mainBtn' : 'mainBtn1'}">Ventas</button>
    </div>

    <!--Imagen que rellena toda la longitud de la pagina-->
    <img src="assets/menuImg" alt="" [ngClass]="{'menuImg' : 'imagen1'}">

    <app-menu-cat></app-menu-cat>
 
    <app-productos></app-productos>
