<div class="body">
  <div class="logo">
    <img src="assets/icon.png" alt="logo" class="icon">
  </div>

  <div class="form">
    <div class="content">
      <h3 class="title">Restablece tu contraseña</h3>

      <form action="">
        <label for="correo" class="campos">Correo electrónico</label>
        <input type="text" class="campos">

        <label for="" class="campos">Nueva contraseña</label>
        <input type="text" class="campos">

        <button>Recuperar contraseña</button>
      </form>
    </div>
  </div>
</div>
