*{
  font-family:Arial, Helvetica, sans-serif;
}

p{
  color: red;
  font-size: 15px;
  text-align: center;
}

.container{
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid;
  justify-content: center;
  text-align: center;
}

h3{
  text-align: center;
}

input{
  border-radius: 5px;
  padding-left: 10px;
  /*margin-left: 250px;*/
  background-color: #F7EDB8;
  width: 500px;
  height:30px;
}

button{
  border-radius: 10px;
  text-align: center;
  background-color: #F7EDB8;
  font-size: 15px;
  width: 300px;
  height: 40px;
}

h5{
  margin-bottom: -10px;
  text-align: center;
}

a{
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

a:hover{
  color: #B8860B;
}

select{
  text-align: center;
  justify-items: center;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  background-color: #F7EDB8;
}
