<div class="container">
  <h3>REGISTRATE</h3>

  <form [formGroup]="registro">
    <input type="text" placeholder="Nombre" id="nombre" formControlName="nombre">
    @if (nombre.hasError('required') && nombre.touched) {
      <p>El NOMBRE es obligatorio</p>
    }
    <br>
    <br>
    <input type="text" placeholder="Correo Electronico" id="correo" formControlName="correo">
    @if (correo.hasError('required') && correo.touched) {
      <p>El CORREO es obligatorio</p>
    } @else if (correo.hasError('email')) {
      <p>El CORREO no es valido</p>
    }
    <br>
    <br>
    <input type="text" placeholder="Contraseña" id="contrasena" formControlName="contrasena">
    @if (contrasena.hasError('required') && contrasena.touched) {
      <p>La CONTRASEÑA es obligatorio</p>
    }
    <br>
    <br>
    <input type="text" placeholder="Repetir Contraseña" id="repetirContrasena" formControlName="repetirContrasena">
    @if (repetirContrasena.hasError('required') && repetirContrasena.touched) {
      <p>La CONTRASEÑA es obligatorio</p>
    }
    <br>
    <br>
    <select id="roles" formControlName="rol">
      <option value="--Elije un rol--"></option>
      <option value="Cliente">Cliente</option>
      <option value="Administrador">Administrador</option>
    </select>

    @if (rol.hasError('required') && rol.touched) {
      <p>Porfavor, elija un rol</p>
    }

    <br><br>
    <button>Registrarme</button>
  </form>

  <a routerLink="/login">Ya Tengo Una Cuenta</a>
</div>
